---
- name: Productivity - install packages
  ansible.builtin.package:
    name:
      - obsidian
      - slack
      # - zoom
      # - microsoft-teams
      # - claude
    state: present
  ignore_errors: true
  register: ignore_errors_register
