{% for user in git.users %}
Host {{user.scope}}-github.com
  HostName github.com
  User git
  AddKeysToAgent yes
  IdentitiesOnly yes
  # UseKeychain yes
  IdentityFile ~/.ssh/id_ssh_{{user.scope}}
{% endfor %}
